.heading-div {
  justify-content: center;
}

.heading-div h1 {
  color: white;
  margin-top: 3%;
  margin-bottom: 5%;
}

.carousels-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.carousel-div {
  width: 38vw;
}

.carousel-control-next-icon {
  background-color: #000;
}

.carousel-control-prev-icon {
  background-color: #000;
}

.carousel-indicators li {
  background-color: #000;
}

.tu-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tu-heading {
  margin-bottom: 10%;
  color: white;
}

.tu-item {
  color: #c0c0c0;
  font-size: 1.4rem;
}

.btn-div {
  justify-content: center;
  margin-top: 55px;
}

.btn:link,
:visited {
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 100px;
  border-color: #fff;
  border: solid;
  color: #fff;
  border-width: 1px;
  font-size: 16px;
  margin-right: 1%;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-color: #000;
  color: #000;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.next-btn-div {
  justify-content: center;
}

.next-btn {
  color: grey;
  margin-top: 35px;
  margin-bottom: 39px;
}

.next-btn:hover {
  color: #c0c0c0;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .heading-div h1 {
    font-size: 1.5rem;
    margin-top: 4%;
    margin-bottom: 7%;
  }

  .carousel-div {
    width: 90vw;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
  }

  .tu-heading {
    font-size: 1.5rem;
  }

  .tu-item {
    font-size: 1.2rem;
  }

  .btn-div {
    margin-top: 25px;
  }

  .btn:link,
  :visited {
    padding: 10px 20px;
    font-size: 10px;
    margin-right: 2%;
  }

  .next-btn {
    font-size: 0.9rem;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
